img {
  height: 150px;
  width: 150px;
  text-align: right;
  /* float: left; */
}

.team-member {
  margin-top: 100px;
  height: 150px;
  /* display: inline; */
  /* justify-content: center; */
}

p {
  font-weight: bold;
  font-size: calc(10px + 0.75vmin);
  color:  rgb(86, 163, 48);
  /* float: left; */
}
